header{
    background-color: rgb(18, 169, 18);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
ul{
    display: flex;
    list-style: none;
    width: 600px;
    justify-content: space-between;
}
button{
    border-radius: 15px;
    border: none;
    font-size: 20px;
}
li{
    color: white;
    cursor: pointer;
}